# 忽略所有 IDE 配置文件
.idea/
*.iml

/sit_oj_backend/.idea
/sit_oj_frontend/

# 忽略后端编译文件
**/target/

# 忽略前端依赖
**/node_modules/

# 忽略 test_case 文件夹下的所有文件
data/test_case/*

# 唯独排除 .gitkeep 文件，使其能被 Git 追踪
!data/test_case/.gitkeep