# 忽略所有 IDE 配置文件
.idea/
*.iml

docs

SIT_OJ-main (未加封榜完整版).zip

/sit_oj_backend/.idea
/sit_oj_frontend/

/sit_oj_backend/competition/src/test
/sit_oj_backend/gateway/src/test
/sit_oj_backend/judge/src/test
/sit_oj_backend/problem/src/test
/sit_oj_backend/submission/src/test
/sit_oj_backend/user/src/test
/sit_oj_backend/system-test
# 忽略后端编译文件
**/target/

# 忽略前端依赖
**/node_modules/

# 忽略 test_case 文件夹下的所有文件
data/test_case/*

# 唯独排除 .gitkeep 文件，使其能被 Git 追踪
!data/test_case/.gitkeep